/* main structure ****************************/

/* body */
body {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
}

/* each part */
.x_part {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 6px;
    padding-right: 6px;
}


/* common ************************************/

/* inline-block */
.x_inline_block {
    display: inline-block;
}


/* subtitle of each part *********************/

/* subtitle div */
.x_subtitle {
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
}


/* table *************************************/

/* div.table-responsive */
.table-responsive {
    margin-bottom: 4px;
}

/* table */
.table {
    margin-bottom: 0px;
}

/* thead */
.table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

/* tbody */
.table>tbody>tr>td {
    vertical-align: middle;
}
.x_td_align_left {
    text-align: left;
}
.x_td_align_center {
    text-align: center;
}
.x_td_align_right {
    text-align: right;
}

/* tablesorter */
th.headerSortUp {
    background-color: lavender;
}
th.headerSortDown {
    background-color: lavenderblush;
}

/* table-cell width */
@media (max-width: 575px) {
    .x_limit_width_14 {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 14rem;
    }
    .x_limit_width_11 {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 11rem;
    }
}


/* others ************************************/

/* checkbox-inline */
.checkbox-inline+.checkbox-inline {
    margin-left: 0;
}
.checkbox-inline {
    margin-right: 10px;
}

/* description */
dl {
    margin-bottom: 0;
}
