/* about table row visibility ****************/

.z-tr-invisible-by-genre {
    display: none;
}
.z-tr-invisible-by-key-level {
    display: none;
}
.z-tr-invisible-by-rank {
    display: none;
}
.z-tr-invisible-by-check {
    display: none;
}


/* about check cell color ********************/

.z-td-check-false {
    background-color: unset;
}
.z-td-check-true {
    background-color: #d8ffd8;
}


/* about row selection and scroll ************/

.z-tr-selected {
    background-color: lightyellow !important;
}
