{% extends "base.html" %}

{% load static %}

{% block head %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block title %}
Song List
{% endblock %}

{% block body %}

<!-- Filter result -->
<div class="x_part">
    <div class="x_subtitle">
        Filter
    </div>
    <div>
        Filter result TODO
    </div>
</div>

<!-- Song list -->
<div class="x_part">
    <div class="x_subtitle">
        Song List
    </div>

    <!-- Select visible column --> <!-- TODO foreach by server? & default checked by user? -->
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.DELETE_BUTTON }}')">
            {{ STR_SONG_PROPERTY.DELETE_BUTTON }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.ID }}')">
            {{ STR_SONG_PROPERTY.ID }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.NAME }}')">
            {{ STR_SONG_PROPERTY.NAME }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.NAME_RUBY }}')">
            {{ STR_SONG_PROPERTY.NAME_RUBY }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.ARTIST }}')">
            {{ STR_SONG_PROPERTY.ARTIST }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.GENRE }}')">
            {{ STR_SONG_PROPERTY.GENRE }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.KEY_LEVEL }}')">
            {{ STR_SONG_PROPERTY.KEY_LEVEL }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.KEY_MIN }}')">
            {{ STR_SONG_PROPERTY.KEY_MIN }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MIN }}')">
            {{ STR_SONG_PROPERTY.KEY_FREQ_MIN }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MAX }}')">
            {{ STR_SONG_PROPERTY.KEY_FREQ_MAX }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.KEY_MAX }}')">
            {{ STR_SONG_PROPERTY.KEY_MAX }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.RANK }}')">
            {{ STR_SONG_PROPERTY.RANK }}
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" onchange="FilterVisibleColumn(this.checked, '{{ STR_SONG_COLUMN_CLASS.LINK }}')">
            {{ STR_SONG_PROPERTY.LINK }}
        </label>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table id="table_song_list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="{{ STR_SONG_COLUMN_CLASS.DELETE_BUTTON }}"></th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.ID }}"></th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.NAME }} {sorter:'metatext'}">{{ STR_SONG_PROPERTY.NAME }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.NAME_RUBY }}">{{ STR_SONG_PROPERTY.NAME_RUBY }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.ARTIST }}">{{ STR_SONG_PROPERTY.ARTIST }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.GENRE }}">{{ STR_SONG_PROPERTY.GENRE }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_LEVEL }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_LEVEL }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_MIN }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_MIN }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MIN }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_FREQ_MIN }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MAX }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_FREQ_MAX }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_MAX }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_MAX }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.RANK }} ">{{ STR_SONG_PROPERTY.RANK }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.LINK }} ">{{ STR_SONG_PROPERTY.LINK }}</th>
                </tr>
            </thead>
            <tbody>
                {% include 'song_table_line.html' %}
            </tbody>
        </table>
    </div>

    <!-- Buttons -->
    <div>
        <div class="x_inline_block">
            <button class="btn btn-default" onclick="InsertSong('table_song_list', '{% url 'app:main' %}')"
            >{{ STR_BUTTON_LABEL.ADD_EMPTY_SONG }}</button>
        </div>
        <div class="x_inline_block">
            <a class="btn btn-default" role="button" href="{% url 'app:main_io' %}"
            >{{ STR_BUTTON_LABEL.IMPORT_AND_EXPORT }}</a>
        </div>
        <p id="button_insert_error_message" class="x_inline_block"></p>
    </div>

</div>

{% include 'song_table_datalist.html' %}

<script>
// activate tablesorter
$(document).ready(function(){
    $("#table_song_list").tablesorter();
});
</script>

{% endblock %}
