{% extends "base.html" %}

{% load static %}

{% block head %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block title %}
Song List
{% endblock %}

{% block body %}

<!-- Filter result -->
<div class="x_part">
    <div class="x_subtitle">
        Filter
    </div>
    <div>
        <dl>
            <dt>{{ STR_SONG_PROPERTY.GENRE }}</dt>
            <dd>
                {% for genre in genre_list %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.GENRE }}{{ genre.id }}', 'z-tr-invisible-by-genre')"
                    >
                    {{ genre.name }}
                </label>
                {% endfor %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.GENRE }}', 'z-tr-invisible-by-genre')"
                    >
                    {{ STR_TEXT.UNSET_FIELD_VALUE }}
                </label>
            </dd>
        </dl>
        <dl>
            <dt>{{ STR_SONG_PROPERTY.KEY_LEVEL }}</dt>
            <dd>
                {% for key_level in key_level_list %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.KEY_LEVEL }}{{ key_level.id }}', 'z-tr-invisible-by-key-level')"
                    >
                    {{ key_level.name }}
                </label>
                {% endfor %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.KEY_LEVEL }}', 'z-tr-invisible-by-key-level')"
                    >
                    {{ STR_TEXT.UNSET_FIELD_VALUE }}
                </label>
            </dd>
        </dl>
        <dl>
            <dt>{{ STR_SONG_PROPERTY.RANK }}</dt>
            <dd>
                {% for key,value in dict_rank_name.items %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.RANK }}{{ key }}', 'z-tr-invisible-by-rank')"
                    >
                    {{ value }}
                </label>
                {% endfor %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.RANK }}None', 'z-tr-invisible-by-rank')"
                    >
                    {{ STR_TEXT.UNSET_FIELD_VALUE }}
                </label>
            </dd>
        </dl>
        <dl>
            <dt>{{ STR_SONG_PROPERTY.CHECK }}</dt>
            <dd>
                {% for value in check_list %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked
                           onchange="FilterVisibleRow(this.checked, '{{ STR_SONG_ROW_CLASS_PREFIX.CHECK }}{{ value }}', 'z-tr-invisible-by-check')"
                    >
                    {{ value }}
                </label>
                {% endfor %}
            </dd>
        </dl>
    </div>
</div>

<!-- Song list -->
<div class="x_part">
    <div class="x_subtitle">
        Song List
    </div>

    <!-- Select visible column -->
    <div id="checkboxes_column_visibility">
        {% for song_column_key, song_column_class, song_column_property, song_column_visibility in zip_song_column_class %}
        <label class="checkbox-inline">
            <input type="checkbox" data-song_column_class="{{ song_column_class }}"
                   onchange="FilterVisibleColumn(this.checked, '{{ song_column_class }}', '{% url 'app:main_cookie' %}', '{{ song_column_key }}')"
                   {% if song_column_visibility %}
                   checked
                   {% endif %}
            >
            {{ song_column_property }}
        </label>
        {% endfor %}
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table id="table_song_list" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="{{ STR_SONG_COLUMN_CLASS.DELETE_BUTTON }}"></th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.ID }}"></th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.NAME }} {sorter:'metatext'}">{{ STR_SONG_PROPERTY.NAME }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.NAME_RUBY }}">{{ STR_SONG_PROPERTY.NAME_RUBY }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.ARTIST }}">{{ STR_SONG_PROPERTY.ARTIST }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.GENRE }}">{{ STR_SONG_PROPERTY.GENRE }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_LEVEL }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_LEVEL }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_MIN }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_MIN }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MIN }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_FREQ_MIN }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MAX }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_FREQ_MAX }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.KEY_MAX }} {sorter:'metadata'}">{{ STR_SONG_PROPERTY.KEY_MAX }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.RANK }} ">{{ STR_SONG_PROPERTY.RANK }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.LINK }} ">{{ STR_SONG_PROPERTY.LINK }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.NOTE }} ">{{ STR_SONG_PROPERTY.NOTE }}</th>
                    <th class="{{ STR_SONG_COLUMN_CLASS.CHECK }} {sorter:'metadata'}"></th>
                </tr>
            </thead>
            <tbody>
                {% include 'song_table_line.html' %}
            </tbody>
        </table>
    </div>

    <!-- Buttons -->
    <div>
        <div class="x_inline_block">
            <button class="btn btn-default" onclick="InsertSong('table_song_list', '{% url 'app:main' %}', addrowsTablesorter)"
            >{{ STR_BUTTON_LABEL.ADD_EMPTY_SONG }}</button>
        </div>
        <div class="x_inline_block">
            <a class="btn btn-default" role="button" href="{% url 'app:main_io' %}"
            >{{ STR_BUTTON_LABEL.IMPORT_AND_EXPORT }}</a>
        </div>
        <p id="button_insert_error_message" class="x_inline_block"></p>
        <div class="x_inline_block">
            <button class="btn btn-link"
                    onclick="$('#checkboxes_column_visibility').find('input[type=\'checkbox\']').each(function(i,elem){
                           if(!$(elem).prop('checked')){ FilterVisibleColumn(false, $(elem).data('song_column_class')); } });"
            >{{ STR_BUTTON_LABEL.UPDATE_COLUMN_VISIBILITY }}</button>
        </div>
    </div>

</div>

{% include 'song_table_datalist.html' %}

<script>
$(document).ready(function(){
    // initialize column visibility (TODO slow?)
    {% for song_column_key, song_column_class, song_column_visibility in zip_song_column_class2 %}
    {% if song_column_visibility %}
    FilterVisibleColumn(true, '{{ song_column_class }}', '{% url 'app:main_cookie' %}', '{{ song_column_key }}');
    {% else %}
    FilterVisibleColumn(false, '{{ song_column_class }}', '{% url 'app:main_cookie' %}', '{{ song_column_key }}');
    {% endif %}
    {% endfor %}
    // activate tablesorter
    $("#table_song_list").tablesorter({
        tabIndex: false
    });
});
// callbacks to update tablesorter & row visibility
var updateTablesorter = function(){
    $('#table_song_list').trigger('update');
};
var addrowsTablesorter = function(row){
    $('#table_song_list').trigger('addRows', [row, false]); // [<object of added tr>, <if resort now>]
};
var updatecellTablesorter = function(obj, key, val, args){  // args: [<target column_class>]
    var columnClass = args[0];
    // 1. update sortValue (if necessary)
    var regex = /({.*sortValue.*:.*})/g;
    if(columnClass === '{{ STR_SONG_COLUMN_CLASS.NAME }}'){
        // about <td> which contains columnClass in its class, set its sortValue = val
        var target = $(obj).closest('tr').find('td.{{ STR_SONG_COLUMN_CLASS.NAME }}');
        var str_class = $(target).attr('class');
        str_class = str_class.replace(regex, "{sortValue: '" + val + "' }");
        $(target).attr('class', str_class);
        // need to update tablesorter about cell whose sortValue is updated
        $('#table_song_list').trigger('updateCell', [$(target), false]);
    }else if(columnClass === '{{ STR_SONG_COLUMN_CLASS.CHECK }}'){
        // about <td> which contains columnClass in its class, set its sortValue = key (set '' if key is 0)
        if(key === 0){
            key = "''";
        }
        var target = $(obj).closest('tr').find('td.{{ STR_SONG_COLUMN_CLASS.CHECK }}');
        var str_class = $(target).attr('class');
        str_class = str_class.replace(regex, "{sortValue: " + key + " }");
        $(target).attr('class', str_class);
    }else if(columnClass === '{{ STR_SONG_COLUMN_CLASS.KEY_LEVEL }}'
          || columnClass === '{{ STR_SONG_COLUMN_CLASS.KEY_MIN }}' || columnClass === '{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MIN }}'
          || columnClass === '{{ STR_SONG_COLUMN_CLASS.KEY_FREQ_MAX }}' || columnClass === '{{ STR_SONG_COLUMN_CLASS.KEY_MAX }}'){
        // about <td> which contains columnClass in its class, set its sortValue = key (set '' if key is null)
        if(key === null){
            key = "''";
        }
        var target = $(obj).closest('tr').find('td.' + columnClass);
        var str_class = $(target).attr('class');
        str_class = str_class.replace(regex, "{sortValue: " + key + " }");
        $(target).attr('class', str_class);
    }
    // 2. update tablesorter (about cell whose content is updated)
    $('#table_song_list').trigger('updateCell', [$(obj).closest('td'), false]); // [<object of td>, <if resort now>, <callback>]
    // 3. update about row visibility (if necessary)
    if(columnClass === '{{ STR_SONG_COLUMN_CLASS.GENRE }}'){
        if(key === null){
            key = "";
        }
        var target = $(obj).closest('tr');
        var str_class = $(target).attr('class');
        str_class = str_class.replace(/xd-song-row-genre-[^ ]*/g, 'xd-song-row-genre-' + key);
        $(target).attr('class', str_class);
    }else if(columnClass === '{{ STR_SONG_COLUMN_CLASS.KEY_LEVEL }}'){
        if(key === "''"){
            key = "";
        }
        var target = $(obj).closest('tr');
        var str_class = $(target).attr('class');
        str_class = str_class.replace(/xd-song-row-key-level-[^ ]*/g, 'xd-song-row-key-level-' + key);
        $(target).attr('class', str_class);
    }else if(columnClass === '{{ STR_SONG_COLUMN_CLASS.RANK }}'){
        if(key === null){
            key = "None";
        }
        var target = $(obj).closest('tr');
        var str_class = $(target).attr('class');
        str_class = str_class.replace(/xd-song-row-rank-[^ ]*/g, 'xd-song-row-rank-' + key);
        $(target).attr('class', str_class);
    }else if(columnClass === '{{ STR_SONG_COLUMN_CLASS.CHECK }}'){
        if(key === "''"){
            key = "False";
        }else{
            key = "True";
        }
        var target = $(obj).closest('tr');
        var str_class = $(target).attr('class');
        str_class = str_class.replace(/xd-song-row-check-[^ ]*/g, 'xd-song-row-check-' + key);
        $(target).attr('class', str_class);
    }
}
</script>

{% endblock %}
