{% for song, path in song_and_path_list %}
<tr>
    <td>
        <button class="btn" onclick="DeleteSong(this, '{{ path }}')">x</button>
    </td>
    <td class="x_td_align_right">{{ song.id }}</td>
    <td class="x_td_align_left {sortValue: '{{ song.name_ruby }}' }" tabindex="0"
        onclick="SwitchInputMode(this, '{{ path }}', 'name', false)"
        onkeyup="if(IsKeyDriveModeOn(event)){
                 SwitchInputMode(this,'{{ path }}', 'name', false)}"
    >{{ song.name }}</td>
    <td class="x_td_align_left">{{ song.name_ruby }}</td>
    <td class="x_td_align_left" tabindex="0"
        onclick="SwitchInputMode(this, '{{ path }}', 'artist')"
        onkeyup="if(IsKeyDriveModeOn(event)){
                 SwitchInputMode(this, '{{ path }}', 'artist')}"
    >{{ song.artist|filter_none }}</td>
    <td class="x_td_align_left">{{ song.genre|filter_none }}</td>
    <td class="x_td_align_center {sortValue: {{ song.key_level_id|get_key_level_rank }} }">{{ song.key_level|filter_none }}</td>
    <td class="x_td_align_center {sortValue: {{ song.key_min|filter_none_min }} }">{{ song.key_min|get_key_name }}</td>
    <td class="x_td_align_center {sortValue: {{ song.key_freq_min|filter_none_min }} }">{{ song.key_freq_min|get_key_name }}</td>
    <td class="x_td_align_center {sortValue: {{ song.key_freq_max|filter_none_min }} }">{{ song.key_freq_max|get_key_name }}</td>
    <td class="x_td_align_center {sortValue: {{ song.key_max|filter_none_min }} }">{{ song.key_max|get_key_name }}</td>
    <td class="x_td_align_center" tabindex="0"
        onclick="SwitchSelectMode(this, '{{ path }}', 'rank', 'datalist_rank')"
        onkeyup="if(IsKeyDriveModeOn(event)){
                 SwitchSelectMode(this, '{{ path }}', 'rank', 'datalist_rank')}"
    >{{ dict_rank_name|get_item:song.rank }}</td>
    <td class="x_td_align_left" tabindex="0"
        onclick="SwitchInputMode(this, '{{ path }}', 'link')"
        onkeyup="if(IsKeyDriveModeOn(event)){
                 SwitchInputMode(this, '{{ path }}', 'link')}"
    >{{ song.link|filter_none }}</td> <!-- TODO link -->
</tr>
{% endfor %}
